
body {
  background-color: lightblue;
}

h1 {
  color: salmon;
  text-align: center;
}

/* Nav Bar Style*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: salmon;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
  
li a {
 text-align: center;
 display: block; 
 width: 60px;
 padding: 30px 20px;
 text-decoration: none;
 display: inline;
}


li a:hover {
  background-color: white;
}
   
