

body {
  background-color: lightblue;
}

h2 {
  color: black;
  text-align: center;
  font-size: 25px;
  border: 3px solid salmon;
  font-family: 'Bungee Outline', cursive;
}

h1 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Redressed', cursive;
}

/* Nav Bar Style*/
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  left: 0;
  overflow: hidden;
}

li{
  float: left;
}

li a {
 display: block;
 text-decoration: none;
 color: lightblue;
 font-size: 18px;
 text-align: center;
 display: block; 
 width: 60px;
 padding: 20px 30px;
}

li a:hover {
  background-color: black;
  font-weight: bold;
  font-size: 18x;
  color: salmon;
  font-family: 'Audiowide', cursive;
}

div.sticky{
  color: white;
  position: sticky;
  background-color: salmon;
  text-align: center;
  border: 3px dashed black;
  max-width: 25%;
  top: 0; 
  font-family: 'Open Sans Condensed', sans-serif;
}
