
body {
  background-color: lightblue;
}

h2 {
  color: black;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  border: 3px solid salmon;
}

/* Nav Bar Style*/
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  left: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a {
 display: block;
 text-decoration: none;
 color: lightblue;
 text-align: center;
 display: block; 
 width: 60px;
 padding: 20px 30px;
}

li a:hover {
  background-color: salmon;
  height: 18px;
  font-weight: bold;
  font-family: 'Jura', sans-serif;
}

div.setPosition{
  position: absolute;
  background-color: salmon;
  border: 3px dashed black;
  top: 50px;
  right: 100px;
}

div.sticky{
  color: white;
  position: sticky;
  background-color: salmon;
  border: 3px dashed black;
  max-width: 50%;
  top: 0; 
}
